<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

</head>

<body>
    <div class="login-form">
        <h1>Create an Account</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message flash-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('main.register') }}">


            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(id="username") }}
                {% for error in form.username.errors %}
                <div class="error-message" style="color: red;">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(id="email") }}
                {% for error in form.email.errors %}
                <div class="error-message" style="color: red;">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(id="password") }}
                {% for error in form.password.errors %}
                <div class="error-message" style="color: red;">{{ error }}</div>
                {% endfor %}
            </div>

            <div style="display:none">
                <label for="honeypot">Leave this empty</label>
                <input type="text" id="honeypot" name="honeypot" tabindex="-1" autocomplete="off">
            </div>

            <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(id="confirm_password") }}
                {% for error in form.confirm_password.errors %}
                <div class="error-message" style="color: red;">{{ error }}</div>
                {% endfor %}
            </div>

            {{ form.submit() }}
        </form>

        <div class="links">
            <p>Already have an account? <a href="{{ url_for('main.login') }}">Login here</a></p>
        </div>
    </div>
</body>

</html>